@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.after-bar {
  position: absolute;
  width: 1px;
  height: 10px;
  left: -15px;
  top: 8px;
  border-right: 1px solid rgb(204, 204, 204);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
}

.after-won::after {
  position: absolute;
  content: "Ïõê";
  font-size: 13px;
  margin-left: 3px;
}

.flex-item-propduct:nth-child(5n) {
  margin-right: 0;
}
