.pageBtn {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  background-color: white;
  margin-right: 12px;
}

.pageBtn:last-child {
  margin-right: 0px;
}
